@mixin Flex($direction, $justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin Font($fSize, $lHeight, $fWeight) {
    font-size: $fSize;
    line-height: $lHeight;
    font-weight: $fWeight;
    color: #ffffff;
}
