@import './_mixins';
@import './_variables';

@font-face {
  font-family: 'Jost';
  src: url('@/assets/font/jost/static/Jost-Regular.ttf');
}

body {
  padding: 0;
  margin: 0;
  background: url('@/assets/Background.jpg') no-repeat;
  background-size: 100%;
  font-family: 'Jost', sans-serif;
  --scroll-bar: linear-gradient(#377fb2, #065ea0, #377fb2);
}

.our-uzb-container {
  @include Flex(column, center);
  width: 100%;
  height: auto;
  position: relative;

  // Header
  .our-header-container {
    width: 100%;
    height: 85px;
    margin-top: 25px;

    .our-header-content {
      width: 85%;
      height: 100%;
      margin: auto;
      position: relative;
      @include Flex(row, space-between);

      .our-header-right {
        width: 75%;
        height: 100%;
        @include Flex(row, space-between);

        img {
          width: 100px;
          height: 85px;
        }
        ul {
          width: 90%;
          list-style: none;
          @include Flex(row, space-evenly);
          padding: 0;

          li {
            display: inline-block;
            position: relative;
            background: linear-gradient(#000, #1eb53a) bottom/0% 2px no-repeat;
            transition: all 1s ease;

            &:hover {
              background-size: 100% 3px;
            }
            a {
              @include Font(1rem, 24px, 500);
              text-decoration: none;
              cursor: pointer;
              transition: all 0.25s ease;

              &:hover {
                color: #1eb53a;
                transition: all 0.25s ease;
              }
            }
          }
        }
      }
      .our-header-left {
        width: 25%;
        height: 100%;
        @include Flex(row, space-around);

        .our-header-search {
          width: 40%;
          height: 36px;
          position: relative;

          input {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            padding: 10px;
            background: linear-gradient(
              180deg,
              #0c0b0b 0%,
              rgba(71, 70, 71, 0.78) 76.04%
            );
            box-shadow: 2px 8px 16px rgba(145, 152, 161, 0.15);
            box-sizing: border-box;
            @include Font(0.85rem, 18px, 400);
            color: #9a9ea6;

            &:focus {
              outline: none;
              border: 2px solid #ffffff;
            }
          }
          svg {
            position: absolute;
            top: 12px;
            right: 5px;
          }
        }

        .our-header-lang {
          width: 25%;
          height: 100%;
          @include Flex(row, space-around);

          .lang-dropdown {
            position: relative;
            width: 50%;
            .dropdown-visible {
              cursor: pointer;
              @include Flex(row, space-around);

              p {
                @include Font(0.95rem, 20px, 500);
              }
              .drop-svg-deactive {
                transition: all 0.5s ease;
              }
              .drop-svg-active {
                transform: rotate(180deg);
                transition: all 0.5s ease;
              }
            }

            .drop-hidden-deactive {
              height: 0;
              overflow: hidden;
              position: absolute;
              top: 45px;
              left: 5px;
            }
            .drop-hidden-active {
              height: auto;
              position: absolute;
              top: 45px;
              left: 5px;

              .hidden-items {
                span {
                  @include Font(0.95rem, 20px, 500);
                  cursor: pointer;

                  &:hover {
                    text-shadow: 1px 1px;
                  }
                }
              }
            }
          }
        }
        .phone-svg {
          &:hover {
            cursor: pointer;
            box-shadow: 2px 8px 16px rgba(145, 152, 161, 0.3);
            animation: Phone 0.5s infinite;
          }
          @keyframes Phone {
            0% {
              transform: translate(1px, 1px) rotate(0deg);
            }
            10% {
              transform: translate(-1px, -2px) rotate(-1deg);
            }
            20% {
              transform: translate(-3px, 0px) rotate(1deg);
            }
            30% {
              transform: translate(3px, 2px) rotate(0deg);
            }
            40% {
              transform: translate(1px, -1px) rotate(1deg);
            }
            50% {
              transform: translate(-1px, 2px) rotate(-1deg);
            }
            60% {
              transform: translate(-3px, 1px) rotate(0deg);
            }
            70% {
              transform: translate(3px, 1px) rotate(-1deg);
            }
            80% {
              transform: translate(-1px, -1px) rotate(1deg);
            }
            90% {
              transform: translate(1px, 2px) rotate(0deg);
            }
            100% {
              transform: translate(1px, -2px) rotate(-1deg);
            }
          }
        }
      }

      .our-left-img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: linear-gradient(
          180deg,
          #0c0b0b 0%,
          rgba(71, 70, 71, 0.78) 76.04%
        );
        @include Flex(row, center);
        position: absolute;
        top: -5px;
        right: -55px;
        cursor: pointer;

        svg {
          color: #ffffff;
          transition: all 0.25s ease;
        }

        &:hover svg {
          color: #1eb53a;
          transition: all 0.25s ease;
        }
      }
    }
  }

  //Content
  .our-content-container {
    width: 100%;
    height: auto;
    @include Flex(column, space-around);

    // Content One Scroll
    .our-scroll-container {
      width: 85%;
      height: 800px;
      margin: 30px auto 0;
      display: flex;
      flex-wrap: wrap;
      flex: 0 auto;

      .our-scroll-description {
        width: 60%;
        height: 55%;
        @include Flex(row, center);

        @keyframes AnimateActiveOne {
          0% {
            transform: translateX(0);
            opacity: 1;
          }
          50% {
            opacity: 0.6;
          }
          100% {
            transform: translateX(-15%);
            opacity: 0.25;
          }
        }
        @keyframes AnimateDeactiveOne {
          0% {
            transform: translateX(-15%);
            opacity: 0.25;
          }
          50% {
            opacity: 0.6;
          }
          100% {
            transform: translateX(0);
            opacity: 1;
          }
        }
        .desc-animate-active {
          animation: AnimateActiveOne 1.5s ease-out;
          opacity: 0.25;
        }
        .desc-animate-deactive {
          animation: AnimateDeactiveOne 1.5s ease-in;
        }

        .description-content {
          h1 {
            @include Font(4rem, 92px, 800);
            background: linear-gradient(
              180deg,
              #0099b5 0%,
              #0099b5 50%,
              rgba(30, 181, 58, 0.1) 100%
            );
            background-clip: text;
            color: rgba(30, 181, 58, 0.3);
            margin: 0;
          }
          p {
            @include Font(1rem, 30px, 600);
          }
        }
      }
      .our-scroll-one {
        width: 40%;
        height: 55%;
        @include Flex(row, flex-end);

        @keyframes AnimateRight {
          0% {
            transform: translateX(0);
            opacity: 1;
          }
          50% {
            opacity: 0.6;
          }
          100% {
            transform: translateX(15%);
            opacity: 0.25;
          }
        }
        @keyframes AnimateLeft {
          0% {
            transform: translateX(15%);
            opacity: 0.25;
          }
          50% {
            opacity: 0.6;
          }
          100% {
            transform: translateX(0);
            opacity: 1;
          }
        }

        .img-animate-right {
          animation: AnimateRight 1.5s ease-out;
        }
        .img-animate-left {
          animation: AnimateLeft 1.5s ease-in;
        }

        .one-img-content {
          width: 90%;
          height: 90%;
          align-items: flex-end;
          overflow: hidden;
          @include Flex(row, flex-end);
          img {
            border-radius: 20px;
            width: 70%;
            height: 70%;
          }
        }
      }
      .our-scroll-content {
        width: 40%;
        height: 45%;
        @include Flex(column, space-around);
        align-items: flex-start;

        button {
          width: 310px;
          height: 75px;
          background: linear-gradient(90deg, #0099b5 0%, #1eb53a 100%);
          border: none;
          border-radius: 15px;
          cursor: pointer;
          position: relative;
          top: -50px;
          @include Font(1rem, 30px, 600);

          &:hover {
            box-shadow: 0 0 10px #049da7;
          }
        }

        .our-scroll-wrapper {
          width: 425px;
          height: 190px;
          background: linear-gradient(
            180deg,
            #0c0b0b 0%,
            rgba(71, 70, 71, 0.78) 76.04%
          );
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 15px;
          overflow-y: scroll;
          scroll-behavior: smooth;
          direction: rtl;
          text-align: left;

          &::-webkit-scrollbar {
            width: 16px;
            direction: ltr;
          }
          &::-webkit-scrollbar-thumb {
            background: linear-gradient(
              rgba(85, 87, 89, 0) 0%,
              #1eb53a 45%,
              #0099b5 90%,
              #1eb53a 135%,
              rgba(85, 87, 89, 0) 180%
            );
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 15px;
          }

          .province-active {
            @include Flex(row, flex-end);
          }

          .province-active p {
            transform: scale(2);
            margin-left: 25px;
          }

          .our-scroll-items {
            margin-left: 25px;
            cursor: pointer;
            padding-top: 2px;
            p {
              @include Font(1rem, 24px, 700);
            }
          }
        }
      }
      .our-scroll-two {
        width: 60%;
        height: 45%;
        @include Flex(row, flex-end);

        @keyframes AnimateRight {
          0% {
            transform: translateX(0);
            opacity: 1;
          }
          50% {
            opacity: 0.6;
          }
          100% {
            transform: translateX(15%);
            opacity: 0.25;
          }
        }
        @keyframes AnimateLeft {
          0% {
            transform: translateX(15%);
            opacity: 0.25;
          }
          50% {
            opacity: 0.6;
          }
          100% {
            transform: translateX(0);
            opacity: 1;
          }
        }

        .img-animate-right {
          animation: AnimateRight 1.5s ease-out;
        }
        .img-animate-left {
          animation: AnimateLeft 1.5s ease-in;
        }

        .two-img-content {
          width: 90%;
          height: 90%;
          @include Flex(row, flex-end);
          align-items: flex-end;
          overflow: hidden;

          img {
            width: 75%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
          }
        }
      }
    }

    // Content Two Scale
    .our-scale-container {
      width: 100%;
      height: 325px;
      margin-top: 40px;
      position: relative;
      @include Flex(row, center);

      .scale-background {
        width: 50%;
        height: 250%;
        background: url('@/assets/OurItems/Content/TwoScale/Frame.svg')
          no-repeat;
        background-position: center;
        position: absolute;
        z-index: -1;
        left: 25%;
        top: -55%;
      }

      .our-scale-content {
        width: 85%;
        height: 100%;
        margin: 35px auto 0;
        z-index: 1;
        @include Flex(row, space-between);

        .scale {
          width: 25%;
          height: 100%;
          @include Flex(column, space-around);
          transform-origin: 50%;
          transform: scale(0);
          transition: all 1s ease-out;

          &.active {
            transform: scale(1);
            transition: all 1s ease-in;
          }

          p {
            @include Font(1.25rem, 20px, 500);
            text-align: center;
            width: 85%;
          }

          img {
            border-radius: 50%;
          }
        }

        .before-enter {
          transform: scale(0);
          transition: all 1s ease-out;
        }
        .enter {
          transform: scale(1);
          transition: all 1s ease-in;
        }
      }
    }

    // Content Three Open
    .open-container {
      width: 100%;
      height: 2150px;
      margin-top: 80px;

      .open-content {
        width: 85%;
        height: 100%;
        margin: auto;
        @include Flex(column, space-around);

        h1 {
          @include Font(3rem, 70px, 700);
          letter-spacing: 0.02em;
          background: linear-gradient(
            180deg,
            #0099b5 0%,
            #0099b5 50%,
            rgba(30, 181, 58, 0.1) 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .open-wrapper {
          width: 100%;
          height: 90%;
          @include Flex;
          flex-wrap: wrap;
          flex: 0 auto;

          .header-items{
            width: 30.5%;
            height: 185px;
            margin: 0 10px;
            @include Flex;
            position: relative;
            opacity: 0.3;
            animation: DeactiveTop 1s linear;

            img{
              width: 100%;
              height: 100%;
              border-radius: 20px;
              object-fit: cover;
            }
            p{
              position: absolute;
              top: 20%;
              @include Font(1.5rem, 36px, 700);
              width: 75%;
              text-align: center;
            }

            @keyframes ActiveTop {
              0%{transform: translateY(50%); opacity: 0.5;}
              100%{transform: translateY(0); opacity: 0.7;}
            }
            @keyframes DeactiveTop {
              0%{transform: translateY(0); opacity: 1;}
              100%{transform: translateY(50%); opacity: 0.7;}
            }

            &.active{
              animation: ActiveTop 1s linear;
              opacity: 1;
            }
          }
          .same-items{
            width: 45.5%;
            height: 385px;
            margin: 15px 25px;
            @include Flex;
            position: relative;
            opacity: 0.3;
            animation: DeactiveTop 1s linear;

            img{
              width: 100%;
              height: 100%;
              border-radius: 20px;
            }
            p{
              position: absolute;
              top: 25%;
              @include Font(3rem, 70px, 700);
              width: 75%;
              text-align: center;
            }

            &.active{
              animation: ActiveTop 1s linear;
              opacity: 1;
            }
          }
          .left-item{
            width: 21.5%;
            height: 400px;
            margin: 15px 10px;
            @include Flex;
            position: relative;
            opacity: 0.3;
            animation: DeactiveTop 1s linear;

            img{
              width: 100%;
              height: 100%;
              border-radius: 20px;
            }
            p{
              position: absolute;
              top: 25%;
              @include Font(3rem, 70px, 700);
            }
            &.active{
              animation: ActiveTop 1s linear;
              opacity: 1;
            }
          }
          .right-item{
            width: 71.5%;
            height: 400px;
            margin: 15px 10px;
            @include Flex;
            position: relative;
            opacity: 0.3;
            animation: DeactiveTop 1s linear;

            img{
              width: 100%;
              height: 100%;
              border-radius: 20px;
            }

            p{
              position: absolute;
              top: 25%;
              @include Font(3rem, 70px, 700);
            }

            &.active{
              animation: ActiveTop 1s linear;
              opacity: 1;
            }
          }
          .center-items{
            width: 30.5%;
            height: 450px;
            margin: 15px 10px;
            @include Flex;
            position: relative;
            opacity: 0.3;
            animation: DeactiveTop 1s linear;

            img{
              width: 100%;
              height: 100%;
              border-radius: 20px;
              object-fit: cover;
            }
            p{
              position: absolute;
              top: 25%;
              @include Font(3rem, 70px, 700);
              width: 75%;
              text-align: center;
            }

            &.active{
              animation: ActiveTop 1s linear;
              opacity: 1;
            }
          }
          .footer-item{
            width: 94.5%;
            height: 375px;
            margin: 15px 0;
            @include Flex;
            position: relative;
            opacity: 0.3;
            animation: DeactiveTop 1s linear;

            img{
              width: 100%;
              height: 100%;
              border-radius: 20px;
            }
            p{
              position: absolute;
              top: 25%;
              @include Font(3rem, 70px, 700)
            }

            &.active{
              animation: ActiveTop 1s linear;
              opacity: 1;
            }
          }
        }
      }
    }


    // Content Four Carousel

    .our-carousel-container{
      width: 100%;
      height: 550px;
      margin-top: 50px;

      .our-carousel-content{
        width: 85%;
        height: 100%;
        margin: auto;
        @include Flex;
        position: relative;

        .carousel-background{
          width: 50%;
          height: 150%;
          background: url('@/assets/OurItems/Content/TwoScale/Frame.svg') no-repeat;
          background-size: 100%;
          background-position: center;
          position: absolute;
          top: -75%;
          left: -35%;
          z-index: -5;
        }
        .carousel-content{
          width: 100%;
          height: 100%;
          @include Flex(column, space-around);   

          h1{
            @include Font(3rem, 70px, 700);
            background: linear-gradient(180deg, #0099B5 0%, #0099B5 50%, rgba(30, 181, 58, 0.1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            letter-spacing: 0.02em;
            margin: 0;
          }
          p{
            @include Font(1rem, 22px, 500);
            width: 50%;
            text-align: center;
          }

          .carousel-slider{
            width: 90.7%;
            height: 275px;
            position: relative;
            overflow: hidden;

            .carousel-wrapper{
              width: 287%;
              height: 100%;
              @include Flex;

              .carousel-items{
                width: 40%;
                height: 100%;
                margin: 0 15px;
                @include Flex;
                position: relative;
                cursor: pointer;

                &:hover .slide-curtain{
                  height: 77%;
                  border-radius: 20px;
                  transition: height 1s ease-in;
                }

                &.active{
                  transform: scale(1.2);
                  margin: 0 45px;
                }

                img{
                  width: 100%;
                  height: 100%;
                }

                .slide-curtain{
                  position: absolute;
                  bottom: 11%;
                  width: 100%;
                  height: 20%;
                  background:  linear-gradient(180deg, rgba(19, 19, 19, 0.5) 0%, rgba(19, 19, 19, 0) 100%);
                  border-radius: 0px 0px 20px 20px;
                  @include Flex;
                  transition: height 1s ease-out;

                  span{
                    @include Font(1.25rem, 22px, 700)
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .sticky-btn {
    width: 200px;
    height: 36px;
    background: linear-gradient(
      180deg,
      #0c0b0b 0%,
      rgba(71, 70, 71, 0.78) 76.04%
    );
    border-radius: 8px;
    padding: 0;
    border: 0;
    cursor: pointer;
    position: sticky;
    bottom: 10px;
    align-self: flex-end;
    margin-right: 35px;
    @include Flex(row, center);

    a {
      text-decoration: none;
      @include Font(1rem, 30px, 600);
    }

    svg {
      color: #ffffff;
      margin-right: 10px;
    }

    &:hover {
      box-shadow: 2px 8px 16px rgba(145, 152, 161, 0.15);
      color: #1eb53a;

      a {
        color: #1eb53a;
      }

      svg {
        color: #1eb53a;
      }
    }
  }
}
